.btn,
input[type='file']::file-selector-button {
  display: inline-block;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/*! Primary Button */

.btn-primary,
input[type='file']::file-selector-button {
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  color: var(--color-white);
}

.btn-primary:hover,
input[type='file']::file-selector-button:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-white);
}

/*! Secondary Button */

.btn-secondary {
  background-color: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-dark);
  color: var(--color-white);
}

.btn-secondary:hover {
  color: var(--color-secondary-dark);
  background-color: var(--color-secondary-light);
}

/*! tertiary Button */

.btn-tertiary {
  background-color: var(--color-tertiary-dark);
  border: 1px solid var(--color-tertiary-dark);
  color: var(--color-white);
}

.btn-tertiary:hover {
  color: var(--color-tertiary-dark);
  background-color: var(--color-white);
}
