@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Segoe UI', 'Roboto';
  background-color: var(--color-background);
  min-width: 450px;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

a {
  color: var(--color-gray-dark);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: var(--color-tertiary-dark);
}

a .fas {
  margin-right: 5px;
}

/*! Flexbox */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g1 {
  display: flex;
  gap: 1rem;
}

.g2 {
  display: flex;
  gap: 2rem;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.mt3 {
  margin-top: 3rem;
}

/*! Bars */

.top-bar {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  z-index: 2;
}

/*! CTA */

.cta {
  max-width: 1280px;
  width: 100%;
  margin-top: 3rem;
}

.cat .with-gap {
  gap: 60px;
}

.cta-box {
  width: 100%;
  height: 100%;
  margin: 0;
}

form.cta-box {
  margin-top: 45px;
}

.cta-description {
  color: var(--color-secondary-dark);
  font-weight: 500;
}

.cta-title {
  font-size: 2.5rem;
  color: var(--color-primary-dark);
  margin: 0;
}

.cta-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.cta-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
}

.cta-list .cta-item {
  list-style: dashed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cta-list .cta-item.tab {
  margin-left: 20px;
}

.cta-list .cta-item .item-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.cta-list .cta-item::before {
  content: '•';
  margin-right: 5px;
  color: var(--color-tertiary-dark);
}

.cta-list .cta-item:has(.invisible)::before {
  color: var(--color-secondary-dark);
}

.cta-list .cta-item:has(.success)::before {
  color: var(--color-success);
}

.cta-list .cta-item .item-content .item-note {
  font-size: 0.8rem;
}

.cta-list .cta-item .item-content .item-note::before {
  content: 'Note:';
  margin-right: 5px;
  font-weight: 600;
  color: var(--color-primary-dark);
}
